/* root created for recurring colors */
:root {
  --dark: rgb(42, 38, 38);
  --light: rgb(114, 211, 207);
  --border_radius: 15px;
  --width: 518px;
  --box_shadow: 0 0 10px var(--dark);
  --border: 5px solid var(--light);
}

/* created line height */
* {
  line-height: 1.8;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background: lightgray;
}

/*Header Section Styling*/

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  box-shadow: 0 1px 8px #ddd;
  background-color: var(--dark);
  flex-wrap: wrap;
}

.nav-bar ul {
  margin: 1em 0 .5em;
  text-align: center;
}

.nav-bar li {
  display: inline;
}

.nav-bar a {
  display: inline-block;
  padding: .5em 1.5em;
}

header a {
  text-decoration: underline 3px;
  text-underline-offset: 6px;
  color: var(--light);
  transition: all 0.3s ease 0s;
}

/* hover effect applied on hav bar */
header a:hover {
  color: whitesmoke;
  text-decoration: underline 3px;
  text-underline-offset: 6px;
}

/*Heading Styling with the id name nav-title*/
#nav-title {
  color: var(--dark);
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--light);
  padding: 8px 8px 8px 15px;
  position: relative;
  margin-left: -45px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}



/* Hero Image Styling */
.hero {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 400px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/hero.png ");
  background-size: cover;
  background-position: center;
  box-shadow: var(--box_shadow);
}

/* This style moves h2,h3, & h4 moves to the left side */
.side {
  margin-right: 20px;
  padding: 20px;
  float: left;
  width: 14%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* styling for the heading */
h1 {
  font-size: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2,
h3,
h4 {
  color: var(--dark);
  font-weight: 20%;
  font-style: normal;
  position: absolute;
  margin-bottom: 15px;
  border-right: var(--dark) solid 5px;

}

h2 {
  height: 150px;
  font-size: 200%;
}

h3 {
  height: 800px;
  font-size: 200%;
}

h4 {
  height: 50px;
  font-size: 200%;
}

/* styling for the paragraph inside the first article element with heading about me */
p {
  width: 75%;
  display: block;
  justify-content: right;
  margin-left: 16%;
  margin-top: 3%;
}

/* styling for the large image in  article element with heading work */
.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 400px;
  width: 1079px;
  background-image: url("../images/myphoto.jpg ");
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  margin-left: 15.5%;
  border: var(--border);
  border-radius: var(--border_radius);
  box-shadow: var(--box_shadow);
}

.profile:hover {
  box-shadow: inset 0px 0px 15px var(--light), 0 0 45px var(--dark);
  color: var(--dark);
  font-size: large;
  font-weight: bolder;
  transform: scale(1.2);
}

/* styling for the section class container which holds 4 flex items */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 13%;
  margin-bottom: 5%;
}

/* hover effect for the figure element with a tag */
figure a {
  color: var(--dark);
}

/* styling for four flex item inside the section container with figure element */
.flex-item1,
.flex-item2,
.flex-item3,
.flex-item4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: var(--width);
  height: 170px;
  background-size: cover;
  background-position: center;
  margin: 15px 12px 15px 33px;
  object-fit: contain;
  justify-content: flex-end;
  align-content: flex-start;
  border: var(--border);
  border-radius: var(--border_radius);
  box-shadow: var(--box_shadow);
}

/* image holder/ url for the four flex items */
.flex-item1 {
  /* code refactor image */
  background-image: url('../images/code_refactor.webp');
}

.flex-item2 {
  /* code image */
  background-image: url('../images/coder.webp');
}

.flex-item3 {
  /* logo of next app */
  background-image: url('../images/next_image.jpeg');
}

.flex-item4 {
  /* wordpress logo */
  background-image: url('../images/wordpress_image.webp');
}

/* styling for all spans in the page */
span {
  background-color: var(--light);
  padding: 3%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  box-shadow: var(--box_shadow);
  text-underline-offset: 6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
}

/* styling for the sub tittle in the hero image */
#sub_title {
  background-color: var(--light);
  padding: 10px;
  box-shadow: var(--box_shadow);
  border-radius: var(--border_radius);
  margin-bottom: 20px;
  width: 300px;
  height: 50px;
  text-align: center;
  margin-right: 3%;
}

/* add hover to the figure element to avoid WET */
figure:hover {
  box-shadow: inset 0px 0px 15px var(--light), 0 0 45px var(--dark);
  color: var(--dark);
  font-size: large;
  font-weight: bolder;
  transform: scale(1.2);
}

/* footer section styling */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 5%;
  background-color: var(--light);
  height: 50px;
  width: 1079px;
  margin-left: 15.5%;
  border-radius: var(--border_radius);
  box-shadow: var(--box_shadow);
}

.footer a {
  color: var(--dark);
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 6px;
}

/* hover effect for contact items */
.footer li a:hover,
li:hover {
  color: whitesmoke;
}

/* media queries */
@media (max-width: 960px) {

  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .main-header {
    justify-content: space-between;
  }

  h1#nav-title {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }

  h2,
  h3,
  h4 {
    font-size: small;
    color: var(--dark);
    font-style: normal;
    position: absolute;
    border-right: none;
    
  }

  #sub_title {
    font-size: 15px;
    background-color: var(--light);
    box-shadow: var(--box_shadow);
    border-radius: var(--border_radius);
    margin-bottom: 50px;
    width: 150px;
    height: 30px;
    text-align: center;
    margin-right: 3%;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 400px;
    width: auto;
    margin-right:20px;

  }
.container{
  margin-right: 28px;
}
  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: var(--light);
    height: 50px;
    width: auto;
    margin-left: 15.5%;
    border-radius: var(--border_radius);
    box-shadow: var(--box_shadow);
  }
  footer{
    margin-right:15px;
    padding-bottom: 30px;
  }

.footer a {
  font-size: x-small;
  text-underline-offset: 6px;
}
}